.main {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.main__bgContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 35%;
  height: 100vh;
  z-index: -1;
  display: flex;
}

.main__bg {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__container {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1260px;
  gap: 154px;
  align-items: center;
}

@media screen and (max-width: 1260px) {
  .main {
    align-items: flex-start;
  }
  .main__bgContainer {
    width: 100%;
    height: 255px;
  }
  .main__container {
    flex-direction: column;
    gap: 50px;
    margin: 40px auto;
    width: 590px;
  }
}

@media screen and (max-width: 365px) {
  .main__container {
    margin: 20px auto;
  }
}
